{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <br>
    <br>
    <br>
    <br>

    <h1 class="text-center text-uppercase fs-1 fw-bold">
        Site image
    </h1>
{% endblock %}
