body {

}

.hero-section {
    background-image: url('../images/goku_black.jpg');
    background-position: center;
    background-size: cover;
    object-fit: cover;
    height: 600px;
    width: 100%;
}

#title{
    position: absolute;
    display: inline-block;
    color: white;
    font-size: 150px;
    top: 40vh;
    right: 50vw;
}

#title:hover {
    color: black;
    background-color: white;
}

li {
    padding: 0px 30px;
    margin: 0px 30px;
}

input {
    margin: 30px;
}

ul {
    list-style-type: none;
}

.flash-error {
    text-align: center;
    color: red;
}

.flash-succes {
    color: green;
}

.success-title{
    margin-top: 50px;
    text-align: center;
    justify-content: center;
}
