{% extends 'base.html.twig' %}

{% block title %}{{ 'Pictures Menu'|trans }}{% endblock %}

{% block body %}

    <br>
    <br>
    <br>
    <br>

    <h1 class="text-center text-uppercase fs-1 fw-bold">
        Ceci est un Menu d'images
    </h1>
{% endblock %}
