
<ul class="navbar-nav">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Menu des images
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for image in images %}
                <a class="dropdown-item" href="{{ asset('images/' ~ image) }}" target="_blank" download="{{ image }}">{{ image }}</a>
            {% endfor %}
        </ul>
    </li>
</ul>
